<html>
	<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		
  		<style>
  			.form-control {
  				width: 260px;
  			}
  		</style>
	</head>
	<body>
		<center>
			<nav class="navbar navbar-default">
			  	<div class="container-fluid">
			    	<div class="navbar-header">
			     		<a class="navbar-brand" href="/">DentisApp</a>
			    	</div>
			    	<ul class="nav navbar-nav">
			      		<li class="active"><a href="/">Lisa visiit</a></li>
				      	<li><a href="/list">Vaata visiite</a></li>
			    	</ul>
			  	</div>
			</nav>
		
			<form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
			    <div class="form-group">
		            <label for="doctorName" th:text="#{perearsti.nimi}">perearsti.nimi</label>
	            	<select id="doctorName" class="form-control" th:field="*{doctorName}">
	            		<option value="-">-</option>
					  	<option value="Peep Peepson">Peep Peepson</option>
					  	<option value="Jaak Jaakson">Jaak Jaakson</option>
					  	<option value="Peeter Peterson">Peeter Peterson</option>
					</select>
					
		            <p th:if="${#fields.hasErrors('doctorName')}" th:errors="*{doctorName}">Perearsti viga</p>
			    </div>  
			    <div class="form-group">
			            <label for="dentistName" th:text="#{arsti.nimi}">arsti.nimi</label>
			            <input id="dentistName" class="form-control" type="text" th:field="*{dentistName}" placeholder="Nimi"/>
			    
			            <p th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}">Nime viga</p>
			    </div>
			    <div class="form-group">
			            <label for="visitDate" th:text="#{visiidi.kuupaev}">visiidi.kuupaev</label>
			        	<input type="text" class="form-control" id="visitDate" placeholder="Kuupäev (pp/kk/aaaa)" th:field="*{visitDate}"/>
			    
			            <p th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}">Kuupäeva viga</p>
			    </div>
			    <div class="form-group">
			            <label for="visitTime" th:text="#{visiidi.kellaaeg}">visiidi.kellaaeg</label>
			            <input id="visitTime" class="form-control" type="text" th:field="*{visitTime}" placeholder="Kellaaeg (hh:mm)"/>
			    
			            <p th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">Kellaaja viga</p>
			  	</div>
			    
			    <button type="submit" class="btn btn-default" th:text="#{registreeri.visiidile}"></button>
			   
			</form>
		</center>
	</body>

    <script>
    	// kuvab kalendri kui kuupäeva väljale vajutada
        $(function () {
            $('#visitDate').datepicker({
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                changeMonth: true,
                changeYear: true,
                constrainInput: false,
                yearRange: "-:+10",
                dayNames: ['Pühapäev','Esmaspäev','Teisipäev','Kolmapäev','Neljapäev','Reede','Laupäev'],
                dayNamesShort: ['P','E','T','K','N','R','L'],
                dayNamesMin: ['P','E','T','K','N','R','L'],
                monthNames: ['Jaanuar', 'Veebruar', 'Märts', 'Aprill', 'Mai', 'Juuni', 'Juuli', 'August', 'September', 'Oktoober', 'November', 'Detsember'],
                monthNamesShort: ['Jan', 'Veb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Det'],
            })
        })
    </script>
</html>