<html>
	<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<center>
			<nav class="navbar navbar-default">
			  	<div class="container-fluid">
			    	<div class="navbar-header">
			     		<a class="navbar-brand" href="/">DentisApp</a>
			    	</div>
			    	<ul class="nav navbar-nav">
			      		<li class="active"><a href="/">Lisa visiit</a></li>
				      	<li><a href="/list">Vaata visiite</a></li>
			    	</ul>
			  	</div>
			</nav>
			
			<h1 th:text="#{registreerimine.ok}">registreerimine.ok</h1>
		</center>
	</body>
</html>